<configuration>
  <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <Key>userId</Key>
      <DefaultValue>unknown</DefaultValue>
    </discriminator>
     <filter class="cn.lb.base.BaseFilter" />
    <sift>
      <appender name="FILE-${userId}" class="ch.qos.logback.core.FileAppender">
        <File>${userId}.log</File>
        <Append>true</Append>
        <layout class="ch.qos.logback.classic.PatternLayout">
          <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %mdc %logger{35} - %msg%n</Pattern>
        </layout>
      </appender>
    </sift>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="SIFT" />
  </root>
</configuration>
